<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>amicus-calculator</title>
  </head>
  <body>
    <script type="text/javascript">
        var calculator_1 = {
            q1_description: "Test 1",
            q1_image: "http://via.placeholder.com/550x200/FF001C",
            q2_description: "Test 2",
            q2_image: "http://via.placeholder.com/350x150/F7981C",
            q3_description: "{{ widget.q3_description }}",
            q3_image_1: "http://via.placeholder.com/350x150/F00FFC",
            q3_image_2: "http://via.placeholder.com/350x150/00981C",
            q3_image_3: "http://via.placeholder.com/350x150/F7001C",
            q4_description: "{{ widget.q4_description }}",
            q4_image_1: "http://via.placeholder.com/350x150/F79800",
            q4_image_2: "http://via.placeholder.com/350x150/F70000",
            q4_image_3: "http://via.placeholder.com/350x150/00001C",
            q4_image_4: "http://via.placeholder.com/350x150/009800",
            q5_description: "{{ widget.q5_description }}",
            q5_image_1: "http://via.placeholder.com/350x150/F09010",
            q5_image_2: "http://via.placeholder.com/350x150/07080C",
            q5_image_3: "http://via.placeholder.com/350x150/FFF000"
        }
        var calculator_2 = {
            q1_description: "{{ widget.q1_description }}",
            q1_image: "http://via.placeholder.com/350x150/FF001C",
            q2_description: "{{ widget.q2_description }}",
            q2_image_1: "http://via.placeholder.com/350x150/F00FFC",
            q2_image_2: "http://via.placeholder.com/350x150/00981C",
            q2_image_3: "http://via.placeholder.com/350x150/F7001C",
            d3_description: "{{ widget.q3_description }}",
            q3_image_1: "http://via.placeholder.com/350x150/F00FFC",
            q3_image_2: "http://via.placeholder.com/350x150/00981C",
            q3_image_3: "http://via.placeholder.com/350x150/F7001C",
            q4_description: "{{ widget.q4_description }}",
            q4_image_1: "http://via.placeholder.com/350x150/F00FFC",
            q4_image_2: "http://via.placeholder.com/350x150/F00FFC",
            q4_image_3: "http://via.placeholder.com/350x150/F00FFC",
            q4_image_4: "http://via.placeholder.com/350x150/F00FFC",
            q4_image_5: "http://via.placeholder.com/350x150/F00FFC",
            q4_image_6: "http://via.placeholder.com/350x150/F00FFC",
            q4_image_7: "http://via.placeholder.com/350x150/F00FFC",
            q4_image_8: "http://via.placeholder.com/350x150/F00FFC",
            q5_description: "{{ widget.q5_description }}",
            q5_image_1: "http://via.placeholder.com/350x150/F7001C",
            q5_image_2: "http://via.placeholder.com/350x150/F7001C",
            q5_image_3: "http://via.placeholder.com/350x150/F7001C",
            q5_image_4: "http://via.placeholder.com/350x150/F7001C",
            q5_image_5: "http://via.placeholder.com/350x150/F7001C",
            q5_image_6: "http://via.placeholder.com/350x150/F7001C",
            q6_description: "{{ widget.q6_description }}",
            q6_image_1: "http://via.placeholder.com/350x150/00981C",
            q6_image_2: "http://via.placeholder.com/350x150/00981C",
            q6_image_3: "http://via.placeholder.com/350x150/00981C",
            q6_image_4: "http://via.placeholder.com/350x150/00981C",
            q6_image_5: "http://via.placeholder.com/350x150/00981C",
            q6_image_6: "http://via.placeholder.com/350x150/00981C",
            q7_description: "{{ widget.q7_description }}",
            q7_image_1: "http://via.placeholder.com/350x150/F7001C",
            q7_image_2: "http://via.placeholder.com/350x150/F7001C",
            q7_image_3: "http://via.placeholder.com/350x150/F7001C",
            q7_image_4: "http://via.placeholder.com/350x150/F7001C",
            q7_image_5: "http://via.placeholder.com/350x150/F7001C",
            q8_description: "{{ widget.q8_description }}",
            q8_image_1: "http://via.placeholder.com/350x150/F79800",
            q8_image_2: "http://via.placeholder.com/350x150/F79800",
            q8_image_3: "http://via.placeholder.com/350x150/F79800",
            q9_description: "{{ widget.q9_description }}",
            q9_image_1: "http://via.placeholder.com/350x150/F798FF",
            q9_image_2: "http://via.placeholder.com/350x150/F798FF",
            q9_image_3: "http://via.placeholder.com/350x150/F798FF",
            q9_image_4: "http://via.placeholder.com/350x150/F798FF",
            q10_description: "{{ widget.q10_description }}",
            q10_image_1: "http://via.placeholder.com/350x150/00981C",
            q10_image_2: "http://via.placeholder.com/350x150/00981C",
            q10_image_3: "http://via.placeholder.com/350x150/00981C",
        }

        var calculator_3 = {
            q1_description: "",
            q2_description: "",
            q3_description: "",
            q4_description: "",

            result_image: "",
            result_desc: ""
        }
    </script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
