// z-index function
@function z($layer) {
    @if not map-has-key($z-layers, $layer) {
        @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
    }

    @return map-get($z-layers, $layer);
}

// clear list default styles
@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

// flex container with align
@mixin flex-align($display: flex, $vertical: center, $horizontal: flex-start) {
    display: $display;
    align-content: $vertical;
    align-items: $vertical;
    justify-content: $horizontal;
}

// transition
@mixin trans($values...) {
    @if length($values) == 0 {
        $values: .3s; //'all .3s ease' as default value
    }
    transition: $values;
}

// pseudo elements (before, after)
@mixin pseudo($display: block, $pos: absolute) {
    display: $display;
    position: $pos;
    content: '';
}

// circle elements
@mixin circle($size: 40px) {
    width: $size;
    height: $size;
    border-radius: 50%;
}

// hidden text
@mixin text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
}

// bg
@mixin bg($image) {
    background-image: url($image);
    background-repeat: no-repeat;
    background-position: center;
}

// visible/hidden
@mixin visible($hidden: false) {
    opacity: 1;
    visibility: visible;
    @if($hidden) {
        opacity: 0;
        visibility: hidden;
    }
}

// input styles
@mixin placeholder($color: $slategrey) {
    &::-webkit-input-placeholder {
        @include placeholder-styles($color);
    }
    &::-moz-placeholder {
        @include placeholder-styles($color);
    }
    &:-moz-placeholder {
        @include placeholder-styles($color);
    }
    &:-ms-input-placeholder {
        @include placeholder-styles($color);
    }
}
@mixin placeholder-styles($color: $clr-darkGray) {
    color: $color !important;
    opacity: 1;
    @include typo-p;
}
@mixin field($border: transparent, $ph: $slategrey, $text: $slategrey, $bg: $white) {
    @include flex-align;
    width: 100%;
    height: $input-height;
    box-sizing: border-box;
    padding: 0 25px !important;
    @include typo-p;
    color: $text;
    @include placeholder($ph);
    background-color: $bg !important;
    border: 1px solid $border !important;
    text-align: left !important;
    @include trans;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &:hover,
    &:focus {
        border: 1px solid $dodgerblue !important;
    }
    &_error {
        border: 1px solid #ea6440 !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

// typography
@mixin fontSizeRem($pxValue) {
    font-size: ($pxValue / $basesize) + rem;
}
@mixin typo-h1($w: 300) {
    @include fontSizeRem(48);
    font-weight: $w;
    line-height: 1.29;
    letter-spacing: 1px;
}
@mixin typo-h2($w: 300) {
    @include fontSizeRem(30);
    font-weight: $w;
    line-height: 1.29;
    letter-spacing: 0.5px;
}
@mixin typo-h3($w: 300) {
    @include fontSizeRem(20);
    font-weight: $w;
    line-height: 1.25;
    letter-spacing: 1.2px;
}
@mixin typo-h4($w: 300) {
    @include fontSizeRem(20);
    font-weight: $w;
    line-height: 1.67;
    letter-spacing: 1px;
}
@mixin typo-h5($w: 700) {
    @include fontSizeRem(14);
    font-weight: $w;
    line-height: 1.38;
    letter-spacing: 1px;
}
@mixin typo-h6($w: 300) {
    @include fontSizeRem(11);
    font-weight: $w;
    line-height: 1.64;
    letter-spacing: 2px;
}
@mixin typo-p($w: 300) {
    @include fontSizeRem(15);
    font-weight: $w;
    line-height: 1.6;
    letter-spacing: 0.6px;
}
@mixin typo-add($w: 300) {
    @include fontSizeRem(13);
    font-weight: $w;
    line-height: 1.38;
    letter-spacing: 1.5px;
}
@mixin typo-pseudo($w: 300) {
    @include fontSizeRem(26);
    font-weight: $w;
    line-height: 1.08;
    letter-spacing: 1.3px;
}
