// const
$hover-opacity: .6;
$border-radius: 3px;
$input-height: 50px;
$button-height: 60px;
$button-radius: 100px;

// colors
$black: #000000;
$almostblack: #060f16;
$white: #ffffff;
$darkbluegrey: #102230;
$dodgerblue: #3d8cff;
$white20: rgba(255, 255, 255, 0.2);
$slategrey: #646d74;
$silver: #b7bcbf;
$almostblacktwo: #060e14;
$pastelblue: #9ac0ff;
$dodgerblue40: rgba(61, 140, 255, 0.4);
$charcoalgrey: #484f53;
$silvertwo: #e7e8e9;
$battleshipgrey: #747a80;
$palegrey: #f6f6f7;
$blogborder: #C4C9CE;

// fonts
$nunito: 'Nunito', sans-serif;
$sans-pro: 'Source Sans Pro', sans-serif;
$basesize: 16;

// grid
$gutter-width: 30px;

// z-indexes:
$z-layers: (
    "modal": 10000,
    "header": 50,
    "default": 1,
    "below": -1,
    "pit": -9000
);