<template lang="pug">
    .calculator(ref="calculator")
        Tabs(v-model="currentTab", :tabs="calculators")
        template(v-if="!currentCalculator.code")
            Questions(:showResult="showResult", :questions="currentQuestions", :result="result")
            button.calculator__button(v-if="!showResult", @click="calculate", :class="{ 'calculator__button_disabled': !canSubmit }") Calculate
            button.calculator__button(v-else, @click="reCalculate") Re-calculate
        .calculator__iframe(v-else, v-html="currentCalculator.code")
</template>

<script>
    /* global ga */
    import _ from 'lodash'
    import axios from 'axios'
    import querystring from 'querystring'

    import Tabs from '@/components/Elements/Tabs'
    import Questions from '@/components/Elements/Questions'
    import smoothScroll from '@/lib/smoothScroll'
    import { mapGetters } from 'vuex'

    export default {
        name: 'Calculator',
        components: { Tabs, Questions },
        props: ['value'],
        computed: {
            ...mapGetters(['form']),
            currentCalculator () {
                return _.find(this.calculators, { type: this.currentTab })
            },
            currentQuestions () {
                return this.currentCalculator.questions
            },
            canSubmit () {
                let calcIsValid = false

                if (this.currentTab === 'quick') {
                    calcIsValid =
                        (this.currentQuestions[0].answer || this.currentQuestions[1].answer) && // people or square number:
                        (this.currentQuestions[2].answer[0] && this.currentQuestions[3].answer[0] && this.currentQuestions[4].answer[0])
                } else if (this.currentTab === 'interior') {
                    calcIsValid =
                        this.currentQuestions[1].answer >= 0 &&
                        this.currentQuestions[7].answer[0] &&
                        this.currentQuestions[8].answer[0]
                } else if (this.currentTab === 'furniture') {
                    calcIsValid = true
                }

                return this.formIsInvalid && calcIsValid
            }
        },
        methods: {
            calculate () {
                if (this.formIsInvalid) {
                    this.result = this[`${this.currentTab}Calculate`]()

                    // toggle contact form
                    this.showResult = !this.showResult

                    // sending info to the HubSpot
                    const portalId = '276458'
                    const formGuid = '59bf0d88-c4f6-422c-9761-aad5c509a47f'
                    const url = `https://forms.hubspot.com/uploads/form/v2/${portalId}/${formGuid}`

                    let calculatorData = ''

                    calculatorData += `Calculator: ${this.currentTab} \n\n`

                    _.each(this.currentQuestions, question => {
                        calculatorData += `${question.title}: `

                        if (question.type === 'number') {
                            calculatorData += question.answer
                        } else if (question.type === 'numbers') {
                            calculatorData += '\n'

                            _.each(question.cards, card => {
                                if (card.cardValue) {
                                    calculatorData += card.title || card.desc.title

                                    calculatorData += `: ${card.cardValue}`

                                    calculatorData += '\n'
                                }
                            })
                        } else if (question.type === 'checkbox') {
                            calculatorData += '\n'

                            _.each(question.answer, answer => {
                                const card = _.find(question.cards, { cardValue: answer })

                                calculatorData += card.title || card.desc.title
                                calculatorData += '\n'
                            })
                        } else if (question.type === 'radio') {
                            calculatorData += '\n'

                            const card = _.find(question.cards, { cardValue: question.answer })

                            calculatorData += card.title || card.desc.title
                            calculatorData += '\n'
                        }

                        calculatorData += '\n\n\n'
                    })

                    // Google Analytics event send
                    ga('send', 'event', 'Calculator', 'Submit', this.currentTab)

                    let hsContext = JSON.stringify({
                        'pageUrl': window.location.href,
                        'pageName': document.title
                    })

                    axios.post(url,
                        querystring.stringify({
                            ...this.form,
                            calculator_data: calculatorData,
                            hs_context: hsContext
                        }),
                        {
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            }
                        }
                    )
                }
            },
            reCalculate () {
                smoothScroll(this.$refs.calculator, true)

                // toggle contact form
                this.showResult = !this.showResult
            },
            quickCalculate () {
                // reducing 15%
                const DISCOUNT = 0.85

                const calculators = {
                    // count through people number:
                    peopleValue: (index) =>
                        _.round(
                            this.currentQuestions[0].answer * this.currentQuestions[2].answer[index] * this.currentQuestions[3].answer[index] * this.currentQuestions[4].answer[index] * DISCOUNT,
                        -2),
                    // count through square:
                    squareValue: (index) =>
                        _.round(this.currentQuestions[1].answer * this.currentQuestions[3].answer[index] * DISCOUNT, -2)
                }

                const methodName = (calculators.squareValue(0) > calculators.peopleValue(0)) ? 'squareValue' : 'peopleValue'

                return { value: calculators[methodName](0), min: calculators[methodName](1), max: calculators[methodName](2), image: this.currentCalculator.resultImage, desc: this.currentCalculator.resultDecs }
            },
            interiorCalculate () {
                // reducing 15%
                const DISCOUNT = 0.85

                const calculator = (index) => {
                    // =TRUNC((SUM(I54:I56)+SUM(I59:I66)+SUM(I72:I74)+SUM(I77:I82)+SUM(I85:I89))*SUM(I92:I94)*SUM(I98:I113);-2)
                    const summSquare = (answer) => {
                        let summ = 0

                        _.each(answer, (item) => {
                            summ += item[index]
                        })

                        return summ
                    }

                    let officeSquare = 0

                    const squares = {
                        reception: 2, // Q3 Tell us about the reception area
                        meetingRooms: 3, // Q4 What meeting rooms do you need?
                        workstation: 4, // Q5 What are your requirements for the office / workstation areas?
                        common: 5, // Q6 Tell us about the common areas?
                        support: 6 // Q7 How about the support spaces?
                    }

                    // computing total square:
                    _.each(squares, (square) => {
                        officeSquare += summSquare(this.currentQuestions[square].answer)
                    })

                    // Circulation Allowance
                    const circulationAllowance = this.currentQuestions[7].answer[index]

                    // What quality of finishes do you expect?
                    const workplaceType = this.currentQuestions[1].answer // Workplace type from Q2
                    const finishesCost = this.currentQuestions[8].answer[workplaceType][index]

                    return _.round(officeSquare * circulationAllowance * finishesCost * DISCOUNT, -2)
                }

                return { value: calculator(0), min: calculator(1), max: calculator(2) }
            },
            furnitureCalculate () {
                const calculator = (index) => {
                    // = getting summ of all items

                    const summValue = (question) => {
                        let summ = 0

                        _.each(question.answer, (item, id) => {
                            const valCard = _.find(question.cards, { id })
                            const val = valCard ? valCard.cardValue : 0
                            summ += item[index] * val
                        })

                        return summ
                    }

                    let total = 0

                    _.each(this.currentQuestions, (question) => {
                        total += summValue(question)
                    })

                    return total
                }

                return { value: calculator(0), min: calculator(1), max: calculator(2) }
            },
            labCalculate () {
                return { value: 100, min: 50, max: 120 }
            }
        },
        mounted () {
            setTimeout(() => {
                /* eslint-disable no-undef */
                Bus.$on('vuelidate-contact', (val) => {
                    this.formIsInvalid = !val
                })
            }, 1000)
        },
        data () {
            return {
                formIsInvalid: false,
                result: { value: 0, min: 0, max: 0 },
                currentTab: 'quick',
                // currentTab: 'furniture',
                showResult: false,
                calculators: [
                    {
                        type: 'quick',
                        text: 'quick calculator',
                        resultImage: calculator_1.result_image,
                        resultDecs: calculator_1.result_desc,
                        questions: [
                            {
                                id: 'quick-1',
                                title: 'How many people in your workspace are you planning for?',
                                text: calculator_1.q1_description,
                                type: 'number',
                                answer: 0,
                                cards: [
                                    {
                                        id: 'quick-1-1',
                                        image: calculator_1.q1_image,
                                        cardValue: 0
                                    }
                                ]
                            },
                            {
                                id: 'quick-2',
                                title: 'If you already have a space in mind, please enter the space here',
                                text: calculator_1.q2_description,
                                type: 'number',
                                answer: 0,
                                cards: [
                                    {
                                        id: 'quick-2-1',
                                        image: calculator_1.q2_image,
                                        cardValue: 0
                                    }
                                ]
                            },
                            {
                                id: 'quick-3',
                                title: 'What work environment do you plan to implement?',
                                text: calculator_1.q3_description,
                                type: 'radio',
                                answer: [ 0, 0, 0 ],
                                cards: [
                                    {
                                        id: 'quick-3-1',
                                        image: calculator_1.q3_image_1,
                                        desc: {
                                            title: 'Dedicated Desk'
                                        },
                                        cardValue: [ 11, 10, 14 ]
                                    },
                                    {
                                        id: 'quick-3-2',
                                        image: calculator_1.q3_image_2,
                                        desc: {
                                            title: 'Semi-agile'
                                        },
                                        cardValue: [ 9, 8, 11 ]
                                    },
                                    {
                                        id: 'quick-3-3',
                                        image: calculator_1.q3_image_3,
                                        desc: {
                                            title: 'Full-agile'
                                        },
                                        cardValue: [ 8, 7, 9 ]
                                    }
                                ]
                            },
                            {
                                id: 'quick-4',
                                title: 'What quality of finishes do you prefer?',
                                text: calculator_1.q4_description,
                                type: 'radio',
                                answer: [ 0, 0, 0 ],
                                cards: [
                                    {
                                        id: 'quick-4-1',
                                        image: calculator_1.q4_image_1,
                                        desc: {
                                            title: 'Entry-level finishes'
                                        },
                                        cardValue: [ 800, 700, 1000 ]
                                    },
                                    {
                                        id: 'quick-4-2',
                                        image: calculator_1.q4_image_2,
                                        desc: {
                                            title: 'Mid-range finishes'
                                        },
                                        cardValue: [ 1100, 1000, 1400 ]
                                    },
                                    {
                                        id: 'quick-4-3',
                                        image: calculator_1.q4_image_3,
                                        desc: {
                                            title: 'Premium finishes'
                                        },
                                        cardValue: [ 1600, 1400, 2000 ]
                                    },
                                    {
                                        id: 'quick-4-3',
                                        image: calculator_1.q4_image_4,
                                        desc: {
                                            title: 'High-end finishes'
                                        },
                                        cardValue: [ 2500, 2000, 3000 ]
                                    }
                                ]
                            },
                            {
                                id: 'quick-5',
                                title: 'Do you need to allocate more space for future growth?',
                                text: calculator_1.q5_description,
                                type: 'radio',
                                answer: [ 0, 0, 0 ],
                                cards: [
                                    {
                                        id: 'quick-5-1',
                                        image: calculator_1.q5_image_1,
                                        desc: {
                                            title: 'No growth or minor growth'
                                        },
                                        cardValue: [ 1.0, 1.0, 1.0 ]
                                    },
                                    {
                                        id: 'quick-5-2',
                                        image: calculator_1.q5_image_2,
                                        desc: {
                                            title: 'Medium Growth'
                                        },
                                        cardValue: [ 1.2, 1.2, 1.2 ]
                                    },
                                    {
                                        id: 'quick-5-3',
                                        image: calculator_1.q5_image_3,
                                        desc: {
                                            title: 'High Growth'
                                        },
                                        cardValue: [ 1.4, 1.4, 1.4 ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        type: 'interior',
                        text: 'interior',
                        resultImage: calculator_2.result_image,
                        resultDecs: calculator_2.result_desc,
                        questions: [
                            {
                                id: 'interior-1',
                                title: 'How many people in your workspace are you planning for?',
                                text: calculator_2.q1_description,
                                type: 'number',
                                answer: 0,
                                cards: [
                                    {
                                        id: 'interior-1-1',
                                        image: calculator_2.q1_image,
                                        cardValue: 0
                                    }
                                ]
                            },
                            {
                                id: 'interior-2',
                                title: 'What work environment do you plan to implement?',
                                text: calculator_2.q2_description,
                                type: 'radio',
                                answer: null,
                                cards: [
                                    {
                                        id: 'interior-2-1',
                                        image: calculator_2.q2_image_1,
                                        desc: {
                                            title: 'Dedicated Desk'
                                        },
                                        cardValue: 0
                                    },
                                    {
                                        id: 'interior-2-2',
                                        image: calculator_2.q2_image_2,
                                        desc: {
                                            title: 'Semi-agile'
                                        },
                                        cardValue: 1
                                    },
                                    {
                                        id: 'interior-2-3',
                                        image: calculator_2.q2_image_3,
                                        desc: {
                                            title: 'Full-agile'
                                        },
                                        cardValue: 2
                                    }
                                ]
                            },
                            {
                                id: 'interior-3',
                                title: 'Tell us about the reception area',
                                text: calculator_2.q3_description,
                                type: 'checkbox',
                                answer: [],
                                cards: [
                                    {
                                        id: 'interior-3-1',
                                        image: calculator_2.q3_image_1,
                                        desc: {
                                            title: 'Reception 2 receptionist + waiting'
                                        },
                                        cardValue: [ 35, 35, 35 ]
                                    },
                                    {
                                        id: 'interior-3-2',
                                        image: calculator_2.q3_image_2,
                                        desc: {
                                            title: 'Reception 1 receptionist + waiting'
                                        },
                                        cardValue: [ 24, 24, 24 ]
                                    },
                                    {
                                        id: 'interior-3-3',
                                        image: calculator_2.q3_image_3,
                                        desc: {
                                            title: 'Welcome area (without receptionist)'
                                        },
                                        cardValue: [ 50, 50, 50 ]
                                    }
                                ]
                            },
                            {
                                id: 'interior-4',
                                title: 'What meeting rooms do you need?',
                                text: calculator_2.q4_description,
                                type: 'numbers',
                                answer: {},
                                cards: [
                                    {
                                        id: 'interior-4-1',
                                        image: calculator_2.q4_image_1,
                                        desc: {
                                            title: 'Meeting room 4 person'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 12, 12, 12 ]
                                    },
                                    {
                                        id: 'interior-4-2',
                                        image: calculator_2.q4_image_2,
                                        desc: {
                                            title: 'Meeting room 8 person'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 25, 25, 25 ]
                                    },
                                    {
                                        id: 'interior-4-3',
                                        image: calculator_2.q4_image_3,
                                        desc: {
                                            title: 'Meeting room 10 person'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 28, 28, 28 ]
                                    },
                                    {
                                        id: 'interior-4-4',
                                        image: calculator_2.q4_image_4,
                                        desc: {
                                            title: 'Informal settings - Booth'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 9, 9, 9 ]
                                    },
                                    {
                                        id: 'interior-4-5',
                                        image: calculator_2.q4_image_5,
                                        desc: {
                                            title: 'Informal settings - Large team'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 20, 20, 20 ]
                                    },
                                    {
                                        id: 'interior-4-6',
                                        image: calculator_2.q4_image_6,
                                        desc: {
                                            title: 'Small Boardroom 10 to12 person'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 28, 28, 28 ]
                                    },
                                    {
                                        id: 'interior-4-7',
                                        image: calculator_2.q4_image_7,
                                        desc: {
                                            title: 'Medium Boardroom 12 to14 person'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 30, 30, 30 ]
                                    },
                                    {
                                        id: 'interior-4-8',
                                        image: calculator_2.q4_image_8,
                                        desc: {
                                            title: 'Large Boardroom 16 to 20 person'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 45, 45, 45 ]
                                    }
                                ]
                            },
                            {
                                id: 'interior-5',
                                title: 'What are your requirements for the office / workstation areas?',
                                text: calculator_2.q5_description,
                                type: 'numbers',
                                answer: {},
                                cards: [
                                    {
                                        id: 'interior-5-1',
                                        image: calculator_2.q5_image_1,
                                        desc: {
                                            title: 'Single workstation (standard of adjustable)'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 5, 5, 5 ]
                                    },
                                    {
                                        id: 'interior-5-2',
                                        image: calculator_2.q5_image_2,
                                        desc: {
                                            title: 'Double workstation (L-Shape)'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 8, 8, 8 ]
                                    },
                                    {
                                        id: 'interior-5-3',
                                        image: calculator_2.q5_image_3,
                                        desc: {
                                            title: 'Touchdown / quiet working seats'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 8, 8, 8 ]
                                    },
                                    {
                                        id: 'interior-5-4',
                                        image: calculator_2.q5_image_4,
                                        desc: {
                                            title: 'Standard office'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 12, 12, 12 ]
                                    },
                                    {
                                        id: 'interior-5-5',
                                        image: calculator_2.q5_image_5,
                                        desc: {
                                            title: 'Management office'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 16, 16, 16 ]
                                    },
                                    {
                                        id: 'interior-5-6',
                                        image: calculator_2.q5_image_6,
                                        desc: {
                                            title: 'Executive office'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 25, 25, 25 ]
                                    }
                                ]
                            },
                            {
                                id: 'interior-6',
                                title: 'Tell us about the common areas?',
                                text: calculator_2.q6_description,
                                type: 'numbers',
                                answer: {},
                                cards: [
                                    {
                                        id: 'interior-6-1',
                                        image: calculator_2.q6_image_1,
                                        desc: {
                                            title: 'Townhall space'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 37.5, 37.5, 37.5 ]
                                    },
                                    {
                                        id: 'interior-6-2',
                                        image: calculator_2.q6_image_2,
                                        desc: {
                                            title: 'Kitchen'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 45, 45, 45 ]
                                    },
                                    {
                                        id: 'interior-6-3',
                                        image: calculator_2.q6_image_3,
                                        desc: {
                                            title: 'Kitchenette (refresh point)'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 25, 25, 25 ]
                                    },
                                    {
                                        id: 'interior-6-4',
                                        image: calculator_2.q6_image_4,
                                        desc: {
                                            title: 'Collaboration space'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 16, 16, 16 ]
                                    },
                                    {
                                        id: 'interior-6-5',
                                        image: calculator_2.q6_image_5,
                                        desc: {
                                            title: 'Fun area (ping-pong, billard,...)'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 30, 30, 30 ]
                                    },
                                    {
                                        id: 'interior-6-6',
                                        image: calculator_2.q6_image_6,
                                        desc: {
                                            title: 'Nap/first aid/baby room'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 11.5, 11.5, 11.5 ]
                                    }
                                ]
                            },
                            {
                                id: 'interior-7',
                                title: 'How about the support spaces?',
                                text: calculator_2.q7_description,
                                type: 'numbers',
                                answer: {},
                                cards: [
                                    {
                                        id: 'interior-7-1',
                                        image: calculator_2.q7_image_1,
                                        desc: {
                                            title: 'Store room'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 16, 16, 16 ]
                                    },
                                    {
                                        id: 'interior-7-2',
                                        image: calculator_2.q7_image_2,
                                        desc: {
                                            title: 'Lockers (per door)'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 0.6, 0.6, 0.6 ]
                                    },
                                    {
                                        id: 'interior-7-3',
                                        image: calculator_2.q7_image_3,
                                        desc: {
                                            title: 'Utility / Printer'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 16, 16, 16 ]
                                    },
                                    {
                                        id: 'interior-7-4',
                                        image: calculator_2.q7_image_4,
                                        desc: {
                                            title: 'Water points'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 16, 16, 16 ]
                                    },
                                    {
                                        id: 'interior-7-5',
                                        image: calculator_2.q7_image_5,
                                        desc: {
                                            title: 'Server room'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 17, 17, 17 ]
                                    }
                                ]
                            },
                            {
                                id: 'interior-8',
                                title: 'Circulation Allowance',
                                text: calculator_2.q8_description,
                                type: 'radio',
                                answer: [ 0, 0, 0 ],
                                cards: [
                                    {
                                        id: 'interior-8-1',
                                        image: calculator_2.q8_image_1,
                                        desc: {
                                            title: 'Minimal'
                                        },
                                        cardValue: [ 1, 1, 1 ]
                                    },
                                    {
                                        id: 'interior-8-2',
                                        image: calculator_2.q8_image_2,
                                        desc: {
                                            title: 'Standard'
                                        },
                                        cardValue: [ 1.1, 1.1, 1.1 ]
                                    },
                                    {
                                        id: 'interior-8-3',
                                        image: calculator_2.q8_image_3,
                                        desc: {
                                            title: 'Spacious'
                                        },
                                        cardValue: [ 1.15, 1.15, 1.15 ]
                                    }
                                ]
                            },
                            {
                                id: 'interior-9',
                                title: 'What quality of finishes do you expect?',
                                text: calculator_2.q9_description,
                                type: 'radio',
                                answer: [ 0, 0, 0 ],
                                cards: [
                                    {
                                        id: 'interior-9-1',
                                        image: calculator_2.q9_image_1,
                                        desc: {
                                            title: 'Entry-level finishes'
                                        },
                                        cardValue: [
                                            [ 880, 700, 1000 ], // Dedicated desks
                                            [ 1120, 900, 1300 ],  // Semi-agile
                                            [ 1280, 1000, 1500 ]  // Full-agile
                                        ]
                                    },
                                    {
                                        id: 'interior-9-2',
                                        image: calculator_2.q9_image_2,
                                        desc: {
                                            title: 'Mid-range finishes'
                                        },
                                        cardValue: [
                                            [ 1100, 1000, 1400 ], // Dedicated desks
                                            [ 1400, 1300, 1800 ],  // Semi-agile
                                            [ 1600, 1500, 2000 ]  // Full-agile
                                        ]
                                    },
                                    {
                                        id: 'interior-9-3',
                                        image: calculator_2.q9_image_3,
                                        desc: {
                                            title: 'Premium finishes'
                                        },
                                        cardValue: [
                                            [ 1600, 1400, 2000 ],  // Dedicated desks
                                            [ 2036, 1800, 2500 ],  // Semi-agile
                                            [ 2327, 2000, 2900 ]  // Full-agile
                                        ]
                                    },
                                    {
                                        id: 'interior-9-3',
                                        image: calculator_2.q9_image_4,
                                        desc: {
                                            title: 'High-end finishes'
                                        },
                                        cardValue: [
                                            [ 2500, 2000, 3000 ],  // Dedicated desks
                                            [ 3182, 2500, 3800 ],  // Semi-agile
                                            [ 3636, 2900, 4400 ]  // Full-agile
                                        ]
                                    }
                                ]
                            },
                            {
                                id: 'interior-10',
                                title: 'What are your aspiration areas?',
                                text: calculator_2.q10_description,
                                type: 'checkbox',
                                answer: [],
                                cards: [
                                    {
                                        id: 'interior-10-1',
                                        image: calculator_2.q10_image_1,
                                        desc: {
                                            title: 'Technology'
                                        },
                                        cardValue: 1
                                    },
                                    {
                                        id: 'interior-10-2',
                                        image: calculator_2.q10_image_2,
                                        desc: {
                                            title: 'Collaboration'
                                        },
                                        cardValue: 2
                                    },
                                    {
                                        id: 'interior-10-3',
                                        image: calculator_2.q10_image_3,
                                        desc: {
                                            title: 'Attracting/retaining talent'
                                        },
                                        cardValue: 3
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        type: 'furniture',
                        text: 'furniture',
                        resultImage: calculator_3.result_image,
                        resultDecs: calculator_3.result_desc,
                        questions: [
                            {
                                id: 'furniture-1',
                                title: 'Workstations & Offices',
                                text: calculator_3.q1_description,
                                type: 'numbers',
                                answer: {},
                                cards: [
                                    {
                                        id: 'furniture-1-1',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%201/image1.jpg',
                                        desc: {
                                            title: 'Double sided workstations',
                                            text: 'Size: 1800 x 750 / 800 deep'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 720, 720, 720 ]
                                    },
                                    {
                                        id: 'furniture-1-2',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%201/image2.jpg',
                                        desc: {
                                            title: 'Single sided workstations',
                                            text: 'Size: 1800 x 750 / 800 deep'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 440, 440, 440 ]
                                    },
                                    {
                                        id: 'furniture-1-3',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%201/image3.jpg',
                                        desc: {
                                            title: 'Workstation L-Shaped',
                                            text: '1800mm x 1800mm, 765 / 600 deep. 25mm thick tops'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 975, 975, 975 ]
                                    },
                                    {
                                        id: 'furniture-1-4',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%201/image4.jpg',
                                        desc: {
                                            title: 'Workstation (120 Degree)',
                                            text: 'Size: 1200mm x 1200mm x 800mm deep individual workstation. 25mm thick tops'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 755, 755, 755 ]
                                    },
                                    {
                                        id: 'furniture-1-5',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%201/image5.jpg',
                                        desc: {
                                            title: 'Electric sit to stand desk',
                                            text: 'Size: 1800mm x 800mm deep back to back workstation'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 930, 930, 930 ]
                                    },
                                    {
                                        id: 'furniture-1-6',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%201/image6.jpg',
                                        desc: {
                                            title: 'Electric sit to stand desk',
                                            text: 'Size: 1800mm x 800mm deep, single sided, 25mm thick tops with scallop detail'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 1100, 1100, 1100 ]
                                    },
                                    {
                                        id: 'furniture-1-7',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%201/image7.jpg',
                                        desc: {
                                            title: 'Office Desks: (L shaped Desk)',
                                            text: 'Size: 1800mm x 800mm x 900mm x 600mm, individual workstation. 25mm thick tops'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 755, 755, 755 ]
                                    },
                                    {
                                        id: 'furniture-1-8',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%201/image7.jpg',
                                        desc: {
                                            title: 'Office Desks: (Straight Desk)',
                                            text: 'Size: 1800mm x 800mm deep individual workstation. 25mm thick tops'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 550, 550, 550 ]
                                    }
                                ]
                            },
                            {
                                id: 'furniture-2',
                                title: 'Accessories & Storage',
                                text: calculator_3.q2_description,
                                type: 'numbers',
                                answer: {},
                                cards: [
                                    {
                                        id: 'furniture-2-1',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%202/image1.jpg',
                                        desc: {
                                            title: 'Monitor Arms: Single',
                                            text: 'White / Silver'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 150, 150, 150 ]
                                    },
                                    {
                                        id: 'furniture-2-2',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%202/image2.jpg',
                                        desc: {
                                            title: 'Monitor Arms: Double',
                                            text: 'White / Silver'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 220, 220, 220 ]
                                    },
                                    {
                                        id: 'furniture-2-3',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%202/image3.jpg',
                                        desc: {
                                            title: 'CPU Holders'
                                            // text: 'White / Silver'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 125, 125, 125 ]
                                    },
                                    {
                                        id: 'furniture-2-4',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%202/image4.jpg',
                                        desc: {
                                            title: 'Slide on dividing screens',
                                            text: 'PET stock colours'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 100, 100, 100 ]
                                    },
                                    {
                                        id: 'furniture-2-5',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%202/image5.jpg',
                                        desc: {
                                            title: 'Umbilicals: Floor to ceiling (2800mm long)',
                                            text: 'Required for bringing the power from the ceiling to the workstation'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 320, 320, 320 ]
                                    },
                                    {
                                        id: 'furniture-2-6',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%202/image6.jpg',
                                        desc: {
                                            title: 'Above Desk shelves',
                                            text: 'Size: 600 x 300'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 85, 85, 85 ]
                                    },
                                    {
                                        id: 'furniture-2-7',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%202/image7.jpg',
                                        desc: {
                                            title: 'ST1 Caddies',
                                            text: 'Size: 900L x 500W x 650H. Left Hand or Right Hand Side'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 435, 435, 435 ]
                                    },
                                    {
                                        id: 'furniture-2-8',
                                        image: '',
                                        desc: {
                                            title: 'Seat',
                                            text: 'Cushion on top'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 80, 80, 80 ]
                                    },
                                    {
                                        id: 'furniture-2-9',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%202/image8.jpg',
                                        desc: {
                                            title: 'ST2',
                                            text: '3 Drawer metal mobile pedestal with accessory tray lock and keys'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 160, 160, 160 ]
                                    },
                                    {
                                        id: 'furniture-2-10',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%202/image9.jpg',
                                        desc: {
                                            title: 'TAMBOUR UNIT (Without Planter Box)',
                                            text: 'Size: 900mmW x 500mmD  x 1090mm H'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 615, 615, 615 ]
                                    },
                                    {
                                        id: 'furniture-2-11',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%202/image9.jpg',
                                        desc: {
                                            title: 'Planter box',
                                            text: 'Size: height 300mm H approx. Lockable'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 165, 165, 165 ]
                                    }
                                ]
                            },
                            {
                                id: 'furniture-3',
                                title: 'Tables',
                                text: calculator_3.q3_description,
                                type: 'numbers',
                                answer: {},
                                cards: [
                                    {
                                        id: 'furniture-3-1',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%203/image1.jpg',
                                        desc: {
                                            title: 'Boardroom Tables',
                                            text: 'Size: 3000 x 1600 x 720H'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 2400, 2400, 2400 ]
                                    },
                                    {
                                        id: 'furniture-3-2',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%203/image2.jpg',
                                        desc: {
                                            title: 'Meeting Tables',
                                            text: 'Size: 3000 x 1600 x 720H'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 1675, 1675, 1675 ]
                                    },
                                    {
                                        id: 'furniture-3-3',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%203/image3.jpg',
                                        desc: {
                                            title: 'Boardroom / Meeting Room FLIP / FOLDABLE Tables',
                                            text: 'Size: 1800mm x 750mm'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 695, 695, 695 ]
                                    },
                                    {
                                        id: 'furniture-3-4',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%203/image4.jpg',
                                        desc: {
                                            title: 'Meeting Table (High)',
                                            text: 'Size: 2500 x 1100 x 1050H'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 1550, 1550, 1550 ]
                                    },
                                    {
                                        id: 'furniture-3-5',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%203/image5.jpg',
                                        desc: {
                                            title: 'Meeting Tables / Quiet room tables',
                                            text: 'Size: 900mm dia x 720mmH'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 550, 550, 550 ]
                                    },
                                    {
                                        id: 'furniture-3-6',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%203/image6.jpg',
                                        desc: {
                                            title: 'Table for the Breakout area',
                                            text: 'Size: 900mm dia x 720H'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 615, 615, 615 ]
                                    },
                                    {
                                        id: 'furniture-3-7',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%203/image7.jpg',
                                        desc: {
                                            title: 'Coffee table for Reception waiting areas & Offices',
                                            text: 'Size: 500mm dia x 450H'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 455, 455, 455 ]
                                    }
                                ]
                            },
                            {
                                id: 'furniture-4',
                                title: 'Chairs & Softseating',
                                text: calculator_3.q4_description,
                                type: 'numbers',
                                answer: {},
                                cards: [
                                    {
                                        id: 'furniture-4-1',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image1.jpg',
                                        desc: {
                                            title: 'Boardroom Chairs'
                                            // text: ''
                                        },
                                        cardValue: 0,
                                        cardRates: [ 435, 435, 435 ]
                                    },
                                    {
                                        id: 'furniture-4-2',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image2.jpg',
                                        desc: {
                                            title: 'Task chairs (Workstations & offices)'
                                            // text: ''
                                        },
                                        cardValue: 0,
                                        cardRates: [ 395, 395, 395 ]
                                    },
                                    {
                                        id: 'furniture-4-3',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image3.jpg',
                                        desc: {
                                            title: 'Office Visitor Chairs'
                                            // text: ''
                                        },
                                        cardValue: 0,
                                        cardRates: [ 325, 325, 325 ]
                                    },
                                    {
                                        id: 'furniture-4-4',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image4.jpg',
                                        desc: {
                                            title: 'Collaboration / Open plan Meeting stools'
                                            // text: ''
                                        },
                                        cardValue: 0,
                                        cardRates: [ 350, 350, 350 ]
                                    },
                                    {
                                        id: 'furniture-4-5',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image5.jpg',
                                        desc: {
                                            title: 'Quiet Room / Meeting Chairs'
                                            // text: ''
                                        },
                                        cardValue: 0,
                                        cardRates: [ 400, 400, 400 ]
                                    },
                                    {
                                        id: 'furniture-4-6',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image6.jpg',
                                        desc: {
                                            title: 'Breakout Chairs'
                                            // text: ''
                                        },
                                        cardValue: 0,
                                        cardRates: [ 285, 285, 285 ]
                                    },
                                    {
                                        id: 'furniture-4-7',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image7.jpg',
                                        desc: {
                                            title: 'Breakout Stools'
                                            // text: ''
                                        },
                                        cardValue: 0,
                                        cardRates: [ 195, 195, 195 ]
                                    },
                                    {
                                        id: 'furniture-4-8',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image8.jpg',
                                        desc: {
                                            title: 'Reception Chair'
                                            // text: ''
                                        },
                                        cardValue: 0,
                                        cardRates: [ 990, 990, 990 ]
                                    },
                                    {
                                        id: 'furniture-4-9',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image9.jpg',
                                        desc: {
                                            title: 'Sofa: Single Seat',
                                            text: 'Size: 900 x 800 x 750'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 750, 750, 750 ]
                                    },
                                    {
                                        id: 'furniture-4-10',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image9.jpg',
                                        desc: {
                                            title: 'Sofa: Double Seater',
                                            text: 'Size: 1600 x 800 x 750'
                                        },
                                        cardValue: 0,
                                        cardRates: [ 1075, 1075, 1075 ]
                                    },
                                    {
                                        id: 'furniture-4-11',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image10.jpg',
                                        desc: {
                                            title: 'Mid Back Lounge Single seater'
                                            // text: ''
                                        },
                                        cardValue: 0,
                                        cardRates: [ 2500, 2500, 2500 ]
                                    },
                                    {
                                        id: 'furniture-4-12',
                                        image: 'https://cdn2.hubspot.net/hubfs/276458/1.theme_2017/placeholders/Furniture%20calculator/Question%204/image11.jpg',
                                        desc: {
                                            title: 'Mid Back Lounge 2 seater'
                                            // text: ''
                                        },
                                        cardValue: 0,
                                        cardRates: [ 3200, 3200, 3200 ]
                                    }
                                ]
                            }
                        ]
                    },
                    // {
                    //     type: 'lab',
                    //     text: 'lab'
                    // },
                    {
                        type: 'culture',
                        text: 'People and Culture',
                        code: '<iframe id="interactApp5a208dfaf6a94e00141ccae2" width="800" height="800" style="border:none;max-width:100%;" allowTransparency="true" frameborder="0" src="https://quiz.tryinteract.com/#/5a208dfaf6a94e00141ccae2?method=iframe"></iframe><div class="interact_footer" style="display:block;font-size:11px;color:#666;">Powered by <a href="https://www.tryinteract.com/?utm_source=Powered%20By%20Link" target="_blank"><img src="https://i.tryinteract.com/img/logo.svg" width="67" height="16" style="vertical-align:middle;"></a></div>'
                    }
                ]
            }
        }
    }
</script>

<style lang="scss">
    // TODO: remove fonts
    // @import '~@/styles/fonts';
    @import '~@/styles/mixins';
    @import '~@/styles/vars';

    $button-width: 200px;

    .calculator {
        // TODO: remove V
        // padding: 0 215px;
        color: $almostblack;
        &__button {
            @include flex-align($horizontal: center);
            background-color: $dodgerblue;
            border: 2px solid $dodgerblue;
            width: $button-width;
            flex: 0 0 $button-width;
            height: $button-height;
            padding: 0 35px;
            margin: 70px auto 0;
            border-radius: $button-radius;
            @include typo-h5(500);
            color: $white;
            text-transform: uppercase;
            @include trans;
            @media (max-width: 767px) {
                margin: 20px auto 0;
            }
            &:hover {
                background-color: $white;
                color: $dodgerblue;
            }
            &_disabled, &_disabled:hover {
                cursor: default;
                background-color: $pastelblue;
                color: $white;
            }
        }
        &__iframe {
            iframe {
                margin: 50px auto 0;
                display: block;
            }
        }
    }
</style>
