<template lang="pug">
    .card(:class="cardClasses('card')")
        .card__image(:style="'background-image: url(' + item.image + ');'")
        Checkbox(v-if="['checkbox', 'radio'].indexOf(type) >= 0", :item="item", :value="value", @input="(val) => $emit('input', val)", :type="type")
        .card__title(v-if="item.title") {{item.title}}
        .card__desc(v-else)
            .card__desc-texts(v-if="item.desc && (item.desc.title || item.desc.text)")
                .card__desc-title(v-if="item.desc && item.desc.title") {{item.desc.title}}
                .card__desc-text(v-if="item.desc && item.desc.text") {{item.desc.text}}
            Number(v-if="type === 'number'", v-model="item.cardValue", @input="(val) => $emit('input', val)")
            Number(v-else-if="type === 'numbers'", v-model="item.cardValue", @input="(val) => $emit('input', { val, item })")
</template>

<script>
    import Number from '@/components/Elements/Fields/Number'
    import Checkbox from '@/components/Elements/Fields/Checkbox'

    export default {
        name: 'Card',
        components: { Number, Checkbox },
        props: ['item', 'type', 'value'],
        methods: {
            cardClasses (classItem) {
                let classes = []
                if (this.item.title) {
                    classes.push(classItem + '_bg')
                }

                if (this.type === 'radio') { // radio logic
                    classes.push(classItem + '_check')
                    if (this.value === this.item.cardValue) {
                        classes.push(classItem + '_active')
                    }
                } else if (this.type === 'checkbox') { // check logic
                    classes.push(classItem + '_check')
                    if (this.value && this.value.indexOf(this.item.cardValue) >= 0) {
                        classes.push(classItem + '_active')
                    }
                } else { // number logic
                    if (this.item.cardValue > 0) {
                        classes.push(classItem + '_active')
                    }
                }
                return classes
            }
        }
    }
</script>

<style lang="scss">
    @import '~@/styles/mixins';
    @import '~@/styles/vars';

    $card-padding: 10px;
    $card-image-height: 210px;
    // $max-card-height: 382px;

    .card {
        position: relative;
        @include flex-align($vertical: stretch, $horizontal: center);
        flex-direction: column;
        height: 100%;
        // max-height: $max-card-height;
        min-width: 0;
        padding: $card-padding $card-padding ($card-padding + 5px);
        background-color: $white;
        border: 3px solid $blogborder;
        box-sizing: border-box;
        border-radius: 2 * $border-radius;
        cursor: pointer;
        opacity: .5;
        text-align: center;
        @include trans;
        &:hover {
            opacity: 1;
        }
        &_active {
            border-color: $dodgerblue;
            opacity: 1;
            cursor: default;
        }
        @media (max-width: 767px) {
            border-width: 1px;
            &_check {
                padding-left: 60px;
                text-align: left;
            }
        }
        &__image {
            height: $card-image-height;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: $border-radius;
            @media (max-width: 767px) {
                display: none;
            }
        }
        &__desc {
            @include flex-align($vertical: stretch, $horizontal: center);
            flex-flow: row wrap;
            flex: 1 0 auto;
            margin: ($card-padding + 5px) 0 0;
            @media (max-width: 767px) {
                margin: 6px 0;
            }
            &-title,
            &-text {
                width: 100%;
                color: $darkbluegrey;
            }
            &-title {
                @include typo-h4;
                width: 100%;
            }
            &-text {
                @include typo-p;
                // @include text-overflow;
                &s {
                    & + .number {
                        margin: 10px 0 0;
                        align-self: flex-end;
                    }
                }
            }
        }
        &__title {
            z-index: z('default') + 3;
            position: absolute;
            left: $card-padding;
            right: $card-padding;
            @include typo-h4;
            color: $white;
            text-align: center;
        }
        &_bg {
            padding: 0;
        }
        &_bg & {
            &__image {
                position: relative;
                height: $card-image-height + $card-padding;
                &:before {
                    z-index: z('default') + 2;
                    @include pseudo;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba($darkbluegrey, .5);
                    @include trans;
                }
            }
        }
    }
</style>
