<template lang="pug">
    li.question
        .question__title {{currentItem.title}}
        .question__text(v-if="currentItem.text") {{currentItem.text}}
        ul.question__cards(v-if="currentItem.cards")
            li.question__card(v-for="card in currentItem.cards")
                Card(:item="card", :type="currentItem.type", v-model="currentAnswer")
        ContactForm(v-if="form")
</template>

<script>
    import Card from '@/components/Elements/Card'
    import ContactForm from '@/components/Elements/ContactForm'

    export default {
        name: 'Question',
        components: { Card, ContactForm },
        props: ['item', 'form'],
        computed: {
            currentItem () {
                const formObj = {
                    title: 'Your details'
                }
                return (this.form) ? formObj : this.item
            },
            currentAnswer: {
                get () {
                    return (this.form) ? '' : this.item.answer
                },
                set (val) {
                    if (this.item.type === 'checkbox') {
                        const valueIndex = this.item.answer.indexOf(val)
                        if (valueIndex >= 0) {
                            this.item.answer.splice(valueIndex, 1)
                        } else {
                            this.item.answer.push(val)
                        }
                    } else if (this.item.type === 'numbers') { // multiple numbers logic
                        this.item.answer[val.item.id] = [
                            val.val * val.item.cardRates[0],
                            val.val * val.item.cardRates[1],
                            val.val * val.item.cardRates[2]
                        ]
                    } else { // radio / number
                        this.item.answer = val
                    }
                }
            }
        }
    }
</script>

<style lang="scss">
    @import '~@/styles/mixins';
    @import '~@/styles/vars';

    $cards-count: 3;
    $question-circle-size: 40px;

    .question {
        position: relative;
        margin: 65px 0 0;
        @media (max-width: 1299px) {
            padding: 0 0 0 60px;
        }
        @media (max-width: 767px) {
            margin: 35px 0 0;
        }
        &:before {
            @include flex-align($horizontal: center);
            position: absolute;
            counter-increment: question;
            content: counter(question);
            left: -70px;
            top: -3px;
            @include circle($question-circle-size);
            @include typo-pseudo;
            color: $dodgerblue;
            border: 2px solid $dodgerblue;
            @media (max-width: 1299px) {
                left: 0;
            }
        }
        &__title {
            @include typo-h2;
            color: $darkbluegrey;
        }
        &__text {
            @include typo-h4;
            color: $darkbluegrey;
            margin: 17px 0 0;
        }
        &__card {
            margin: 30px 0 0;
            padding: 0 $gutter-width/2;
            flex: 0 0 (100%/$cards-count);
            min-width: 0;
            box-sizing: border-box;
            @media (max-width: 959px) {
                flex: 0 0 50%;
            }
            @media (max-width: 767px) {
                flex: 0 0 100%;
                margin: 15px 0 0;
                padding: 0;
            }
            &s {
                @include nl;
                @include flex-align($vertical: stretch, $horizontal: center);
                flex-flow: row;
                flex-wrap: wrap;
                margin: 0 (-$gutter-width/2);
                @media (max-width: 1299px) {
                    margin-left: -60px;
                }
            }
        }
    }
</style>
