<template lang="pug">
    ul.questions
        Question(v-for="item in questions", :item="item", :key="item.id")
        transition(name="result-fade" mode="out-in")
            Question(v-if="!showResult", form="true")
            Result(v-else, :result="result")
</template>

<script>
    import Question from '@/components/Elements/Question'
    import Result from '@/components/Elements/Result'

    export default {
        name: 'Questions',
        components: { Question, Result },
        props: ['type', 'showResult', 'questions', 'result']
    }
</script>

<style lang="scss">
    @import '~@/styles/mixins';

    .question {
        &s {
            @include nl;
            counter-reset: question;
        }
    }
    .result-fade-enter-active, .result-fade-leave-active {
        transition: opacity .3s ease;
    }
    .result-fade-enter, .result-fade-leave-to {
        opacity: 0;
    }
</style>
