<template lang="pug">
    .result
        .result__image(:style="'background-image: url(' + result.image + ')'")
        .result__desc
            .result__estimate Estimate:
                span.result__estimate-value AU${{formatNumber(result.value)}}
            .result__range(v-if="result.value != result.min && result.value != result.max") Range:
                span.result__range-value AU${{formatNumber(result.min)}} - AU${{formatNumber(result.max)}}
            .result__notes
                b Notes:
                | {{result.desc}}
</template>

<script>
    export default {
        name: 'Result',
        props: ['result'],
        methods: {
            formatNumber (number) {
                return number.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,').replace('.00', '')
            }
        }
    }
</script>

<style lang="scss">
    @import '~@/styles/mixins';
    @import '~@/styles/vars';

    .result {
        @include flex-align($vertical: stretch);
        background-color: $white;
        border: 1px solid $blogborder;
        height: 480px;
        box-sizing: border-box;
        margin: 65px 0 0;
        @media (max-width: 767px) {
            margin: 35px 0 0;
            height: auto;
        }
        &__image,
        &__desc {
            flex: 1 0 auto;
        }
        &__image {
            @include bg('');
            background-size: cover;
            @media (max-width: 767px) {
                display: none;
            }
        }
        &__desc {
            @include flex-align;
            flex-flow: row wrap;
            padding: 0 68px;
            max-width: 100%;
            @media (max-width: 767px) {
                padding: 20px 15px;
            }
        }
        &__estimate,
        &__range {
            color: $darkbluegrey;
            &-value {
                color: $dodgerblue;
            }
        }
        &__estimate {
            @include typo-h2;
            width: 100%;
            &-value {
                margin-left: 30px;
                @media (max-width: 767px) {
                    display: block;
                    margin: 10px 0 0
                }
            }
        }
        &__range {
            @include typo-h4;
            width: 100%;
            margin: 30px 0 0;
            &-value {
                margin-left: 26px;
                @media (max-width: 767px) {
                    display: block;
                    margin: 10px 0 0
                }
            }
        }
        &__notes {
            @include typo-p;
            color: $darkbluegrey;
            margin: 30px 0 0;
        }
    }
</style>
