<template lang="pug">
    ul.tabs
        li.tab(
            v-for="item in tabs",
            @click="currentType = item.type",
            :class="{ 'tab_active' : currentType === item.type }")
            .tab__text {{item.text}}
</template>

<script>
    export default {
        name: 'Tabs',
        props: ['value', 'tabs'],
        computed: {
            currentType: {
                get () {
                    return this.value
                },
                set (val) {
                    this.$emit('input', val)
                }
            }
        }
    }
</script>

<style lang="scss">
    @import '~@/styles/mixins';
    @import '~@/styles/vars';

    $tab-height: 54px;

    .tab {
        @include flex-align(inline-flex, center, center);
        flex: 1 0 auto;
        min-width: 0;
        background-color: $white;
        height: $tab-height;
        padding: 0 15px;
        margin-right: 5px;
        cursor: pointer;
        @include trans;
        @media (max-width: 959px) {
            margin: 0 0 10px;
            flex: 0 0 49%;
            box-sizing: border-box;
        }
        @media (max-width: 614px) {
            flex: 0 0 100%;
        }
        &:last-child {
            margin: 0;
        }
        &:hover {
            opacity: $hover-opacity;
        }
        &s {
            @include nl;
            @include flex-align($horizontal: center);
            margin: 0 auto;
            @media (max-width: 959px) {
                flex-flow: row wrap;
                justify-content: space-between;
            }
        }
        &__text {
            @include text-overflow;
            @include typo-h5(500);
            text-transform: uppercase;
            color: $slategrey;
            @include trans;
        }
        &_active {
            background-color: $dodgerblue;
            cursor: default;
            &:hover {
                opacity: 1;
            }
        }
        &_active & {
            &__text {
                color: $white;
            }
        }
    }
</style>
