<template lang="pug">
    .checkbox(@click="() => { $emit('input', item.cardValue) }")
        .checkbox__input(:class="{ 'checkbox__input_active' : isChecked }")
</template>

<script>
    export default {
        name: 'Checkbox',
        props: ['value', 'item', 'type'],
        computed: {
            isChecked () {
                return (this.type === 'radio')
                        ? this.value === this.item.cardValue
                        : this.value.indexOf(this.item.cardValue) >= 0
            }
        }
    }
</script>

<style lang="scss">
    @import '~@/styles/mixins';
    @import '~@/styles/vars';

    .checkbox {
        z-index: z('default') + 4;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: right;
        @media (max-width: 767px) {
            text-align: left;
        }
        &__input {
            display: inline-block;
            position: relative;
            margin: 20px;
            @include circle(30px);
            box-sizing: border-box;
            border: 3px solid $blogborder;
            background-color: $white;
            cursor: pointer;
            @include trans;
            &:before {
                @include pseudo;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include bg('~@/assets/checkbox__check.svg');
                height: 12px;
                width: 17px;
                @include visible(true);
                @include trans;
            }
            &_active {
                background-color: $dodgerblue;
                border-color: $dodgerblue;
                &:before {
                    @include visible;
                }
            }
        }
    }
</style>
