<template lang="pug">
    input.input-field(:placeholder="placeholder", v-model="localValue", :class="{ 'input-field_error': error }")
</template>

<script>
    export default {
        name: 'InputField',
        props: ['placeholder', 'value', 'error'],
        computed: {
            localValue: {
                get () {
                    return this.value
                },
                set (val) {
                    this.$emit('input', val)
                }
            }
        }
    }
</script>

<style lang="scss">
    @import '~@/styles/mixins';
    @import '~@/styles/vars';

    .input-field {
        @include field;
    }
</style>
