<template lang="pug">
    .number
        button.number__button.number__button_minus(
            @click="() => { if (numberValue >= 1) numberValue-- }",
            :disabled="numberValue <= 0")
        input.number__input(
            type="number",
            v-model="numberValue",
            placeholder="0")
        button.number__button.number__button_plus(
            @click="() => { numberValue++ }")
</template>

<script>
    import { minValue } from 'vuelidate/lib/validators'

    export default {
        name: 'Number',
        props: ['value'],
        computed: {
            numberValue: {
                get () {
                    return this.value
                },
                set (val) {
                    let locVal = +val
                    if (!Number.isInteger(locVal) || locVal < 0) {
                        locVal = 0
                    }
                    this.$emit('input', locVal)
                    this.$v.numberValue.$touch()
                }
            }
        },
        validations () {
            const validate = {
                numberValue: {
                    minValue: minValue(0)
                }
            }
            return validate
        }
    }
</script>

<style lang="scss">
    @import '~@/styles/mixins';
    @import '~@/styles/vars';

    .number {
        @include flex-align($vertical: stretch);
        &__input {
            @include field($border: $silvertwo, $bg: $white);
            text-align: center !important;
            max-width: 140px;
        }
        &__button {
            height: $input-height;
            flex: 0 0 $input-height;
            @include bg('~@/assets/number__button_plus.svg');
            background-color: $silvertwo;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 0;
            @include trans;
            &:hover,
            &:active {
                opacity: $hover-opacity;
            }
            &[disabled=disabled],
            &:disabled {
                cursor: default;
                background-color: darken($silvertwo, 25%);
                &:hover,
                &:active {
                    opacity: 1;
                }
            }
            &_minus {
                background-image: url('~@/assets/number__button_minus.svg');
            }
        }
    }
</style>
