<template lang="pug">
    .select-field(@click="opened = !opened") {{currentValue}}
        ul.select-field__options(v-if="opened")
            li.select-field__option(v-for="option in options", @click.stop="changeValue(option)", :class="{'select-field__option_active': (option == currentValue) }") {{option}}
</template>

<script>
    export default {
        name: 'SelectField',
        props: ['placeholder', 'value', 'options'],
        methods: {
            changeValue (option) {
                this.currentValue = option
                this.$emit('change', option)
                this.opened = false
            }
        },
        mounted () {
            this.currentValue = this.value || this.placeholder
        },
        data () {
            return {
                opened: false,
                currentValue: ''
            }
        }
    }
</script>

<style lang="scss">
    @import '~@/styles/mixins';
    @import '~@/styles/vars';

    .select-field {
        @include field;
        background: rgba(255,255,255,0.2);
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            right: 10px;
            top: 50%;
            width: 18px;
            height: 9px;
            margin-top: -4px;
            background: url(https://cdn2.hubspot.net/hubfs/3970012/1.theme_2017/placeholders/00_Icons/down_arrow.png);
        }
        &__option {
            &s {
                @include nl;
                position: absolute;
                z-index: 1;
                top: -1px;
                left: -1px;
                right: -1px;
                overflow: scroll;
                max-height: 265px;
            }
            @include field;
            cursor: pointer;
            &_active {
                border: 1px solid $dodgerblue !important;
                background: $white !important;
                cursor: default;
            }
        }
    }
</style>
