<template lang="pug">
    #app
        router-view
</template>

<script>
    export default {
        name: 'app'
    }
</script>

<style lang="scss">
    // @import '~@/styles/fonts';
    @import '~@/styles/vars';
    // @import '~@/styles/normalize';

    body {
        font-family: $nunito;
        h4,
        p,
        input,
        textarea {
            font-family: $sans-pro;
        }
        input[type="submit"] {
            font-family: inherit;
        }
    }
</style>
